body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(30, 30, 30);
	color: rgb(251, 251, 251);
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size: 3rem;
}

img {
	width: 70%;
	box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
}

main {
	width: 90vw;
}

section:has(h1) {
	text-align: center;
}
/*Web Accessibilty - wrap animation with this*/
@media (prefers-reduced-motion: no-preference) {
	.anim-1 > img {
		scale: 0.8;
		opacity: 0;
		animation: fade-in linear forwards;
		animation-timeline: view();
		animation-range: entry;
	}

	@keyframes fade-in {
		to {
			scale: 1;
			opacity: 1;
		}
	}
}
